@font-face {
    font-family: 'Inter';
    src: url('../Inter-4.0/Inter.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../Inter-4.0/extras/ttf/Inter-Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../Inter-4.0/InterVariable-Italic.ttf') format('truetype'); 
    font-weight: italic;
    font-style: normal;
}
body {
    font-family: 'Inter', sans-serif; 
}