.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    margin-top: 6.25rem;
    padding-bottom: 2rem;
  }
@media (max-width: 767px) {
    .footer {
      flex-direction: column;
    }
}